*{
    padding: 0;
    margin: 0;
    background-color: black;
    object-fit: cover;
}
body{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cd/Black_flag.svg");
}
canvas { 
    background:black;
}
.break-out{
    display: flex;
    justify-content: center;
    object-fit: contain;
    display: flex;
    background-image: url("download.jpg");
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    height: 50px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cd/Black_flag.svg");
  }
  #mainNav .navbar-brand {
    color: #f1f1f1;

  }
  #mainNav .navbar-nav {
    margin-top: 1rem;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link {
    color: #f1f1f1;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #00aaff;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #00aaff;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #00aaff;
  }
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
    
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cd/Black_flag.svg");
      height: 75px;
    }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      transition: font-size 0.3s;
      
    }
    #mainNav .navbar-nav {
      margin-top: 0;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
        color: #fff;
        background: #00aaff;
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
      color: #fff;
      background: #00aaff;
      
    }
  
    #mainNav.navbar-shrink {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.5em;
      
    }
  }
  .button{
    border-radius: 30px;
    background-color: #00aaff;
    color: #fff;
    text-decoration: none ;
}


